*{
    margin: 0;
    padding: 0;
}
.detailHeader{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 114px;
    border-bottom: 1px solid #ccc;
    background: #F9FAFD;
}
.header{
    height: 100%;
    display: flex;
    flex-direction: row;
}
.headerBtn{
    width: 104px;
    line-height: 114px;
    text-align: center;
    font-size:80px ;
    color: #999;
}
.headerTit{
    flex: 1;
    line-height: 114px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}
.content{
    padding-top: 114px;
    padding-bottom: 120px;
    width: 100%;
    height: 100%;
}
.detail-h{
    text-align: center;
    padding:0 50px ;
    padding-bottom: 94px;
    background: #ffffff;
    margin-bottom: 10px;
}
.detail-h img{
    width: 600px;
    height: 600px;
    margin-bottom: 40px;
}
.gname{
    float: left;
    font-size: 56px;
    width: 100%;
    text-align: center;
}
.price{
    margin-top: 40px;

}
.nowprice{
    color: red;
    font-size: 48px;
    font-weight: bold;
    margin-right: 10px;
}
.oldprice.no{
    display: none;
}
.detail-m{
    background: #ffffff;
    padding: 0 40px 50px;

}
.tit{
    width: 100%;
    text-align: center;
    color:#E0BD6A ;
    line-height: 100px;
    margin-bottom: 50px;
}
.titL,.titR{
    display: inline-block;
    width: 106px;
    height: 0;
    border-bottom: 1px solid #E0BD6A;
    margin-bottom: 10px;
}
.dotL{
    margin:0 30px 0 5px;

}
.dotR{
    margin:0 5px 0 30px;

}
.brand,.size{
    font-size:24px;
    height: 50px;
}
.tag{
    margin-right: 40px;
    color: #999;
}
.kong{
   color: transparent;
}
.footer{
    position: fixed;
    bottom:0;
    width: 100%;
    height: 120px;
    line-height: 120px;
    background: #fff;
    padding: 0 28px;
    border-top: 1px solid #ccc;
}
.cart{
    position: absolute;
    top:-42px;
    right: 30px;
}
.cart img{
    width: 140px;
}
.cartNum{
    position: absolute;
    top:10px;
    right:0px;
    width: 44px;
    height: 44px;
    border-radius: 22px;
    background: red;
}
.collect{
    margin-right: 20px;
    font-size:24px
}
.add,.reduce{
    display: inline-block;
    width: 66px;
    height: 66px;
    border-radius: 33px;
    border:1px solid #FF4300;
    line-height: 60px;
    text-align: center;
    font-size: 40px;
    color: #FF4300;
    font-weight: bold;
}
.num{
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 24px;
}

